.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  height: 200px;
  width: 5px;
  background-color: #e5e5e5;
}

.stub1 {
  line-height: 10px;
  font-size: 24px;
  background-color: #eae4e4;
}

.stub2 {
  height: 1000px;
}

.circle {
  width: 30px;
  height: 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.circleWrapper {
  position: relative;
}

.message {
  position: absolute;
  top: -100%;
  left: 120%;
  min-width: 500px;
  font-weight: bold;
  font-size: 18px;
}
